<include file="./header"/>
<link href="__ROOT__/Public/js/zTree/zTreeStyle/zTreeStyle.css""  rel="stylesheet" type="text/css">
<script src="__ROOT__/Public/js/zTree/jquery.ztree.all-3.5.min.js"></script>
<script src="__ROOT__/Public/js/noty/noty.js"></script>
<style>.expander{margin-left: -20px;}</style>
</head>
<body class="J_scroll_fixed">
<div class="wrap J_check_wrap">
	<ul class="nav nav-tabs">
     <li class="active"><a href="javascript:;">角色授权</a></li>
  </ul>
  <form class="J_ajaxForm" action="{:U('Rbac/authorize_post')}" method="post" onsubmit="return check_form();">
    <div class="table_full">
      <ul id="treeDemo" class="ztree"></ul>
    </div>
    <div class="form-actions">
    	<input type="hidden" name="group_id" value="{$group_id}" />
    	<input type="hidden" name="ck_ids" id="ck_ids" value="" />
        <button class="btn btn_submit btn-primary mr10 J_ajax_submit_btn" type="submit">授权</button>
        <a class="btn" href="__URL__">返回</a>
   	</div>
  </form>
</div>
<script type="text/javascript">
var menulist = {$menulist};
var setting = {
		check: {
			enable: true,
			chkboxType : { "Y": "ps", "N":"ps"}
		},
		data: {
			simpleData: {
				enable: true
			}
		}
};
$(function(){
	$.fn.zTree.init($("#treeDemo"), setting, menulist);
});
function getCheckedNode(){
	var ck = $.fn.zTree.getZTreeObj('treeDemo').getCheckedNodes();
	var ck_ids = [];
	for(var i = 0 ;i < ck.length ; i++){
		if(ck[i].getCheckStatus().half == false) {
			ck_ids.push(ck[i].id);
		}
	}
	$("#ck_ids").val(ck_ids.join(','));
	return ck_ids;
}
function check_form(){
	var ck_ids = getCheckedNode();
	if(ck_ids.length == 0 ){
		noty({text:"请至少选择一项",
    		type:'error',
    		layout:'center'
    	});
		return false;
	}
	
}

</script>
</body>
</html>